<h1>Patient information</h1>
{{#with onePatient}}
<ul>
    <li>{{this.id}}</li>
    <li>{{this.firstName}}</li>
    <li>{{this.lastName}} </li>
</ul>
{{/with}}

<h1>Entry</h1>
<form action="/patient/{{this.id}}" method="POST">
    <label> Blood glucose level (in nmol/L):</label>
    <input type="number" placeholder="" name="bgl" min="0" max="999" /></br> 
    <input type="number" placeholder="Weight (in kg)" name="weight" min="0" max="999" /></br>
    <input type="number" placeholder="Doses of insulin taken (number of doses)" name="doit" min="0" max="999" /></br>
    <input type="number" placeholder="exercise (step count)" name="exercise" min="0" max="999" /></br>
    <input type="submit" /></br>
</form>


<h1>History</h1>
<table border="1">
    <tr>
        <th style="text-align: center"> Date </th>
        <th style="text-align: center"> B.G.L (in mmol\L) </th>
        <th style="text-align: center"> Weight(Kg) </th>
        <th style="text-align: center"> Insulin Count </th>
        <th style="text-align: center"> Exercise (S.C) </th>
    </tr>


    {{#each record.dateHistory}}
    <tr>
        <td style="text-align: center">{{this.actualDate}} </td>
        <td style="text-align: center">{{this.valueReceived.bgl.value}} </td>
        <td style="text-align: center">{{this.valueReceived.weight.value}}</td>
        <td style="text-align: center">{{this.valueReceived.doit.value}}</td>
        <td style="text-align: center">{{this.valueReceived.exercise.value}}</td>
    </tr>
    {{/each}}


<<<<<<< HEAD
</table>
=======
</table>
>>>>>>> 44f9d5bb715b6ba91f073da513a40fa29b50f780
