<section class="clinician-safety-threshold">
  <h1 class="title">
    Patient {{records.patientId}}'s Safety Threshold
  </h1>
  <p>in {{records.recordDate}}</p>
  
  <table class="safety-threshold-table">
      {{!-- Safety Threshold Table --}}
      <tr>
        <th> Availbility</th>
        <th> Attribute Name </th>
        <th> Attribute Lower Bound </th>
        <th> Attribute Upper Bound </th>
        <th> Suggestted Recorded Time </th>
        <th> Data Status </th>
        <th> Value </th>
        <th> Actual Recorded Time </th>
      </tr>

      {{#each records.data}}
      <form class="safety-threshold-table-form" action="/clinician/recordData" method="POST">
        <tr>
          <td>{{@key}}</td>
          <input type="hidden" name="key" value="{{@key}}">
          <td>{{this.availbility}}</td>
          <td>{{this.fullName}}</td>
          {{!-- {{#ifUnrecorded this.status}}
          <td style="text-align: center"> <input type="text" name="min" placeholder="Enter minimum shreshold"></td>
          {{else}}
          <td>{{this.minValue}}</td>
          {{/ifUnrecorded}}
          {{#ifUnrecorded this.status}}
          <td style="text-align: center"> <input type="text" name="max" placeholder="Enter maximum shreshold"></td>
          {{else}}
          <td>{{this.maxValue}}</td>
          {{/ifUnrecorded}} --}}
          <td>{{this.createdAt}}</td>
          <td>{{this.status}}</td>
          {{#ifUnrecorded this.status}}
            <td><input type="text" name="value" placeholder="Enter your record here" required></td>
          {{else}}
          <td>{{this.value}}</td>
          {{/ifUnrecorded}}
          <td>{{this.timeRecorded}}</td>
          <td><button type="submit" class="clinician-button">Submit</button></td>
        </tr>


      </form>
      {{/each}}

    </table>

    <h2 class="comment-title"> Displaying Patient Comment </h2>
    <textarea id='patientComment' class="patient-comment" name='patientComment' rows="10" cols="50" readonly>
    {{values.dateHistory.commentText.text}}
  </textarea>


</section>