<section class="patient-history">
    <h1 class="title">History</h1>
    <div class="responsive-table">
        <table class="patient-history-table">
            <tr>
                <th>Date</th>
                <th>Blood Glucose Level <br/>(mmol\L)</th>
                <th>Weight <br/>(kg)</th>
                <th>Insulin Count</th>
                <th>Exercise <br/>(step count)</th>
                <th>Comment</th>
            </tr>

            {{#each record}}
            <tr>
                <td>{{this.recordDate}}</td>
                <td>{{this.bgl_value}}</td>
                <td>{{this.weight_value}}</td>
                <td>{{this.doit_value}}</td>
                <td>{{this.ex_value}}</td>
                <td>{{this.cmt_value}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>