<section class="patient-history">
    <h1 class="title">History</h1>
    <div class="responsive-table">
        <table class="patient-history-table">
            <tr>
                <th>Date</th>
                <th>Blood Glucose Level <br />(mmol\L)</th>
                <th>Weight <br />(kg)</th>
                <th>Insulin Count</th>
                <th>Exercise <br />(step count)</th>
            </tr>

            {{#each record}}
            <tr>
                <td style="text-align: center"> {{this.recordDate}}</td>
                <td style="text-align: center"> {{this.data.bgl.value}}</td>
                <td style="text-align: center"> {{this.data.weight.value}}</td>
                <td style="text-align: center"> {{this.data.doit.value}}</td>
                <td style="text-align: center"> {{this.data.exercise.value}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>