<section class="patient-homepage">
  <h1 class="title">Patient Homepage</h1>
  <form id="logout" action="/patient/logout" method="POST"></form>
  <button form="logout">Logout</button>
  <table class="patient-homepage-table">
    <tr>
      <th>Patient Name</th>
      <th>Support message</th>
      <th>Information</th>
      <th>Entry</th>
      <th>View</th>
      <th>Leaderboard</th>
    </tr>
    
    <tr>
      <td data-header="Patient Name">
        <p>{{data.firstName}} {{data.lastName}}</p>
      </td>
      <td data-header="Suppoting message">
        <p>{{data.supportMessage}}</p>
      </td>
      <td data-header="Information">
        <a href="/patient/{{data._id}}">
          <button class="table-information-button"> Information </button>
        </a>
      </td>
      <td data-header="Entry">
        <a href="/patient/entry/{{data._id}}">
          <button class="table-entry-button"> Entry </button>
        </a>
      </td>
      <td data-header="View">
        <a href="/patient/view/{{data._id}}">
          <button class="table-view-button"> View </button>
        </a>
      </td>
      <td data-header="Leaderboard">
        <a href="/patient/leaderboard/{{data._id}}">
          <button> leaderboard</button>
        </a>
      </td>
    </tr>
    
  </table>
  
</section>
