<section class="clinician-safety-threshold">
    {{#each record}}
    <h1 class="title">
        Patient {{onePatient.firstName}} {{onePatient.lastName}}'s Data in {{this.recordDate}}</h1>

    <div class="responsive-table">
        <table class="patient-history-table">
            <tr>
                <th>Attribute</th>
                <th>Recorded Time</th>
                <th>Value</th>
                <th>Comment</th>
            </tr>

            <tr>
                <td> BGL</td>
                <td> {{this.data.bgl.createdAt}}</td>
                <td> {{this.data.bgl.value}}</td>
                <td> {{this.data.bgl.comment}}</td>
            </tr>

            <tr>
                <td> Weight</td>
                <td> {{this.data.weight.createdAt}}</td>
                <td> {{this.data.weight.value}}</td>
                <td> {{this.data.weight.comment}}</td>
            </tr>

            <tr>
                <td> Doses of insulin taken</td>
                <td> {{this.data.doit.createdAt}}</td>
                <td> {{this.data.doit.value}}</td>
                <td> {{this.data.doit.comment}}</td>
            </tr>

            <tr>
                <td> Exercise</td>
                <td> {{this.data.exercise.createdAt}}</td>
                <td> {{this.data.exercise.value}}</td>
                <td> {{this.data.exercise.comment}}</td>
            </tr>
        </table>
    </div>
    </br>
    {{/each}}

    <a href="/clinician">
        <button class="back-button"> Back </button>
    </a>
</section>