<section class="patient-entry">
    <div class="breadcrumbs-navigation">
        <p><a href="/patient">Home</a> > Entry</p>
    </div>
    <h1 class="title">Entry</h1>
    <table class="patient-entry-form">
        <tr>
            <th> Attribute </th>
            <th> Status </th>
            <th> Value </th>
            <th> Recorded Time </th>
            <th> Comment </th>
        </tr>
        {{#each record.data}}    
            {{#if this.availability}}                  
            <form action="" method="POST">
                <tr>
                    <input type="hidden" name="key" value="{{@key}}">
                    
                    <td>{{this.fullName}}</td>
                    <td>{{this.status}}</td>                                                    
                    {{#ifUnrecorded this.status}}
                    <td><input type="text" name="value" placeholder="Enter your record here" required></td>
                    {{else}}
                    <td>{{this.value}}</td>
                    {{/ifUnrecorded}}

                    <td>{{this.createdAt}}</td>


                    {{#ifUnrecorded this.status}}
                    <td><input type="text" name="comment" placeholder="Enter your record here" required></td>
                    {{else}}
                    <td>{{this.comment}}</td>
                    {{/ifUnrecorded}}


                    {{#ifUnrecorded this.status}}
                    <td><button type="submit" class="submit-button">Submit</button></td>
                    {{/ifUnrecorded}}
                </tr>

            </form>
            {{else}}
            {{/if}}
            
        {{/each}}
    </table>
    <a href="/patient">
        <button class="back-button"> Back </button>
    </a>
</section>