<nav class="sidebar-menu">
  <ul>
    <li>
      <a href="/patient">
        <i class="fa fa-solid fa-house"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>

    <li>
      <a href="/patient/updatePwd">
        <i class="fa fa-solid fa-key"></i>
        <span class="nav-text">
          Change Password
        </span>
      </a>
    </li>

    <li>
      <a href="/patient/leaderboard">
        <i class="fa fa-solid fa-trophy"></i>
        <span class="nav-text">
          Leaderboard
        </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="/patient/logout">
        <i class="fa fa-power-off"></i>
        <span class="nav-text">
          Logout
        </span>
      </a>
    </li>
  </ul>
</nav>

<section class="patient-information">
    <div class="breadcrumbs-navigation">
        <p><a href="/patient">Home</a> > Patient Information</p>
    </div>
    <h1 class="title">Patient information</h1>
    {{#with onePatient}}
    <ul>
        <li>{{this.email}}</li>
        <li>{{this.firstName}}</li>
        <li>{{this.lastName}} </li>
        <li>{{this.screenName}} </li>
        <li>{{this.textBio}} </li>
    </ul>
    {{/with}}

    <form action="" method="POST">
        <label> Reset your password:</label></br>
        <input type="text" name="new_pw" placeholder="Enter new password here." /></br>
        <button type="submit" class="submit-button">Update Password</button>
    </form></br>

    <a href="/patient">
        <button class="back-button"> Back </button>
    </a>
</section>