<nav class="sidebar-menu">
  <ul>
    <li>
      <a href="/clinician">
        <i class="fa fa-solid fa-house"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>

    <li>
      <a href="/clinician/hist_rec/{{patient._id}}">
        <i class="fa fa-solid fa-key"></i>
        <span class="nav-text">
          Historical Data
        </span>
      </a>
    </li>

    <li>
      <a href="/clinician/view_cli_note/{{patient._id}}">
        <i class="fa fa-solid fa-circle-plus"></i>
        <span class="nav-text">
          View Clinician Notes
        </span>
      </a>
    </li>

    <li>
      <a href="/clinician/new_cli_note/{{patient._id}}">
        <i class="fa fa-solid fa-comment"></i>
        <span class="nav-text">
          Enter Clinician Notes
        </span>
      </a>
    </li>
  </ul>

  <form id="logout" action="/clinician/logout" method="POST">
    <ul class="logout">
      <li>
        <a onclick="document.getElementById('logout').submit()">
          <i class="fa fa-power-off"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </form>
</nav>

<section class="clinician-safety-threshold">
  <h1 class="title">
    Patient
    {{patient.firstName}}
    {{patient.lastName}}'s Safety Threshold in
    {{records.recordDate}}
  </h1>
  <table class="safety-threshold-table">

    <tr>
      <th> Availbility</th>
      <th> Attribute </th>
      <th> thresholdStatus </th>
      <th> Value </th>
      <th> Attribute Lower Bound </th>
      <th> Attribute Upper Bound </th>

      <th> Actual Recorded Time </th>
      <th> Comment </th>
    </tr>
    {{#each records.data}}
    <form action="" method="POST">
      <tr>
        <input type="hidden" name="key" value="{{@key}}" />
        {{#ifUnrecorded this.thresholdStatus}}
        <td><input type="checkbox" name="availability" value="true" /></td>
        {{else}}
        <td>{{this.availability}}</td>
        {{/ifUnrecorded}}
        <td> {{this.fullName}} </td>
        <td> {{this.thresholdStatus}} </td>
        <td> {{this.value}} </td>
        {{#ifUnrecorded this.thresholdStatus}}
        <td><input type="number" min="0" max="9999" name="minvalue" step="0.01" placeholder="Enter min value here" required /></td>
        {{else}}
        <td>{{this.minValue}}</td>
        {{/ifUnrecorded}}
        {{#ifUnrecorded this.thresholdStatus}}
        <td><input type="number" min="0" max="9999" name="maxvalue" step="0.01" placeholder="Enter max value here" required /></td>
        {{else}}
        <td>{{this.maxValue}}</td>
        {{/ifUnrecorded}}

          <td> {{this.createdAt}} </td>
          <td> {{this.comment}} </td>
          {{#ifUnrecorded this.thresholdStatus}}
            <td><button type="submit" class="submit-button">Submit</button></td>
          {{/ifUnrecorded}}
        </tr>
      </form>
    {{/each}}

  </table>
  <!-- supporting message -->
  <h2>Current supporting message: {{patient.supportMessage}}</h2>
  <form action="/clinician/{{patient._id}}/message" method="POST">
    <h2> Change supporting message</h2>
    <input class="message-box" type="text" name="message" />
    <button type="submit" class="submit-button">OK</button>
  </form>

  <a href="/clinician">
    <button class="back-button"> Back </button>
  </a>
</section>