<h1 class="title">History</h1>
<div class="responsive-table">
    <table class="patient-history-table">
        <tr>
            <th> Created At </th>
            <th> Created By </th>
            <th> Subjective Data</th>
            <th> Objective Data </th>
            <th> Assessment Data </th>
            <th> Plan </th>
            <th> Additional Notes </th>
        </tr>

        {{#each note}}
        <tr>
            <td>{{this.createdAt}}</td>
            <td>{{this.createdBy}}</td>
            <td>{{this.subjectiveData}}</td>
            <td>{{this.objectiveData}}</td>
            <td>{{this.assessmentData}}</td>
            <td>{{this.plan}}</td>
            <td>{{this.additionalNotes}}</td>
        </tr>
        {{/each}}
    </table>
</div>