<section class="clinician-note">
<nav class="sidebar-menu">
    <ul>
      <li>
        <a href="/clinician">
          <i class="fa fa-solid fa-house"></i>
          <span class="nav-text">
            Dashboard
          </span>
        </a>

      </li>

      <li>
        <a href="/clinician/updatePwd">
          <i class="fa fa-solid fa-key"></i>
          <span class="nav-text">
            Change Password
          </span>
        </a>
      </li>

      <li>
        <a href="/clinician/new_patient">
          <i class="fa fa-solid fa-circle-plus"></i>
          <span class="nav-text">
            Create New Patient
          </span>
        </a>
      </li>

      <li>
        <a href="/clinician/view">
          <i class="fa fa-solid fa-comment"></i>
          <span class="nav-text">
            Comment
          </span>
        </a>
      </li>
    </ul>

    <form id="logout" action="/clinician/logout" method="POST">
    <ul class="logout">
      <li>
        <a onclick="document.getElementById('logout').submit()">
          <i class="fa fa-power-off"></i>
          <span class="nav-text">
          Logout
          </span>
        </a>
      </li>
    </ul>
    </form>
  </nav>

    <h1 class="title">History</h1>
    <div class="responsive-table">
        <table class="patient-history-table">
            <tr>
                <th> Created At </th>
                <th> Created By </th>
                <th> Subjective Data</th>
                <th> Objective Data </th>
                <th> Assessment Data </th>
                <th> Plan </th>
                <th> Additional Notes </th>
            </tr>

            {{#each note}}
            <tr>
                <td>{{this.createdAt}}</td>
                <td>{{this.createdBy}}</td>
                <td>{{this.subjectiveData}}</td>
                <td>{{this.objectiveData}}</td>
                <td>{{this.assessmentData}}</td>
                <td>{{this.plan}}</td>
                <td>{{this.additionalNotes}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</section>