<nav class="sidebar-menu-clinician">
  <ul>
    <li>
      <a href="/clinician">
        <i class="fa fa-solid fa-house"></i>
        <span class="nav-text">
          Dashboard
        </span>
      </a>

    </li>

    <li>
      <a href="/clinician/updatePwd">
        <i class="fa fa-solid fa-key"></i>
        <span class="nav-text">
          Change Password
        </span>
      </a>
    </li>

    <li>
      <a href="/clinician/new_patient">
        <i class="fa fa-solid fa-circle-plus"></i>
        <span class="nav-text">
          Create New Patient
        </span>
      </a>
    </li>

    <li>
      <a href="/clinician/view">
        <i class="fa fa-solid fa-comment"></i>
        <span class="nav-text">
          Comment
        </span>
      </a>
    </li>
  </ul>

  <form id="logout" action="/clinician/logout" method="POST">
    <ul class="logout">
      <li>
        <a onclick="document.getElementById('logout').submit()">
          <i class="fa fa-power-off"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </form>
</nav>

<section class="patient-comment">

  <h1 class="title"> Comments</h1>
  {{#each record}}
    <div class="responsive-table">
      <table class="CurComment">
        <h3 class="username">Patient
          {{this.patientName}}
          in
          {{this.recordDate}}</h3>
        <tr>
          <th>Attribute Name</th>
          <th>Comment Text</th>
        </tr>

        <tr>
          <td>{{this.data.bgl.fullName}}</td>
          <td><a
              href="/clinician/{{this.patientID}}"
            >{{this.data.bgl.comment}}</a></td>
        </tr>

        <tr>
          <td>{{this.data.weight.fullName}}</td>
          <td><a
              href="/clinician/{{this.patientID}}"
            >{{this.data.weight.comment}}</a></td>
        </tr>

        <tr>
          <td>{{this.data.doit.fullName}}</td>
          <td><a
              href="/clinician/{{this.patientID}}"
            >{{this.data.doit.comment}}</a></td>
        </tr>

        <tr>
          <td>{{this.data.exercise.fullName}}</td>
          <td><a
              href="/clinician/{{this.patientID}}"
            >{{this.data.exercise.comment}}</a></td>
        </tr>
      </table>
    </div>
  {{/each}}

  <a href="/clinician">
    <button class="back-button"> Back </button>
  </a>

</section>