<section class="patient-comment">

<h1 class = "title"> Comments</h1>
<table class="CurComment">
<tr>
    <th>Attribute Name</th>
    <th>Comment Text</th>
</tr>

<tr>
<td><a href="/clinician/{{id}}">{{record.data.bgl.fullName}}</a></td>
<td>{{record.data.bgl.comment}}</td>
</tr>

<tr>
<td>{{record.data.weight.fullName}}</td>
<td>{{record.data.weight.comment}}</td>
</tr>

<tr>
<td>{{record.data.doit.fullName}}</td>
<td>{{record.data.doit.comment}}</td>
</tr>

<tr>
<td>{{record.data.exercise.fullName}}</td>
<td>{{record.data.exercise.comment}}</td>
</tr>
</table>

<a href="/clinician">
        <button class="back-button"> Back </button>
    </a>

</section>